@media screen and (max-width: 600px) {
  .contactcontent{
    margin-left:0px !important;
    margin-right:0px !important;
  }
  .educationcontent-flex{
    align-items:none !important;
  }
  .educationcontent{
    margin:0px;
  }
}

.parallax3{
  background-image: url("../img/coding_background2.png");
  height:100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  position:relative;
}

.contactcontent{
  color:white;
  text-align:center;
  padding: 50px;
  margin-left:100px;
  margin-right:100px;
  background-color: #333;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity:0.8;
}

.contactcontent textarea{
  max-width:100%;
}

.contactcontent input{
  width:110%;
}

.parallax4{
  background-image: url("../img/coding_background2.png");
  min-height:100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  position:relative;
}

.educationcontent{
  color:white;
  text-align:center;
  padding: 20px;
  margin-left:100px;
  margin-right:100px;
  background-color: #333;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity:0.8;
}

.education-flex{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:center;
}

.education-flex > div{
  padding-top:20px;
}

.educationcontent-flex{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.educationcontent-flex > div{
  padding-left:5px;
  padding-right:5px;
}

.educationcontent-flex img{
  opacity:1;
}

.educationcontent-flex ul{
  text-align:left;
}

.parallax5{
  background-image: url("../img/coding_background2.png");
  min-height:100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  position:relative;
}

.projnexpcontent{
  color:white;
  text-align:center;
  padding: 20px;
  margin-left:100px;
  margin-right:100px;
  background-color: #333;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity:0.8;
}

.expflexbox{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:center;
}

.expflexbox > div{
  padding-top:20px;
}

.expflexbox-content{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.expflexbox-content > div{
  padding-left:5px;
  padding-right:5px;
}

.expflexbox-content ul{
  text-align:left;
}

.expflexbox-content a{
  color:#2bff00;
}
